:root {
  --btn-link-hover-color: #2196f3;
  --mine-text-color: #757575;
  --text-teambox-btnhover-color: #ffffff;
  --title-footer-bg-color: #2f303a;
  --btn-team-bg-color: #f5f4fa;
}

body {
  font-family: Roboto, sans-serif;
  color: #212121;
}

.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
  background: var(--btn-team-bg-color);
}

.btn:hover,
.btn:focus {
  color: var(--text-teambox-btnhover-color);
  background-color: var(--btn-link-hover-color);
}

.subtitle {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin: 0 auto;
  outline: 1px solid red;
}

/* ---------------------- header ----------------------*/
.header {
  width: 1600px;
  margin: 0 auto;
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-logo {
  font-family: "Raleway";
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  align-items: center;
  margin-right: 95px;
}

.header-pre-logo {
  color: var(--btn-link-hover-color);
}

.header-after-logo {
  color: #000000;
}

.header-list {
  display: flex;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-text {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.header-text:hover,
.header-text:focus {
  color: var(--btn-link-hover-color);
}

.header-contacts {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--mine-text-color);
  display: flex;
  /* justify-content: flex-end; */
  margin-left: auto;
}

.header-tel {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--mine-text-color);
  padding-left: 50px;
}

.header-tel:hover,
.header-tel:focus {
  color: var(--btn-link-hover-color);
}

/* ---------------------- main ----------------------*/
.title {
  width: 1600px;
  background-color: var(--title-footer-bg-color);
  margin: 0 auto;
}
.title .container {
  padding-top: 200px;
  padding-bottom: 210px;
}

.container-btn {
  display: flex;
  justify-content: center;
}

.title-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-teambox-btnhover-color);
  width: 695px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.title-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--text-teambox-btnhover-color);
  cursor: pointer;
  background-color: var(--btn-link-hover-color);
  min-width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  padding: 10px 10px;
}

.title-btn:hover,
.title-btn:focus {
  background-color: #188ce8;
}

.feature {
  width: 1600px;
  margin: 0 auto;
}

.feature .container {
  padding-bottom: 0;
}

.feature-list {
  display: flex;
}
.feature-item:not(:last-child) {
  margin-right: 30px;
}

.feature-title {
  width: 270px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.feature-text {
  width: 270px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--mine-text-color);
}

.feature-title + .feature-title {
  width: 270px;
}

.subtitle {
  padding-bottom: 50px;
}

.occupation {
  width: 1600px;
  margin: 0 auto;
}

.occupation-list {
  display: flex;
  margin: -15px;
}
.occupation-box {
  width: calc(100% / 3 - 30px);
  margin: 15px;
}

.team {
  width: 1600px;
  margin: 0 auto;
  background: var(--btn-team-bg-color);
}

.container-team-card {
  display: flex;
  justify-content: space-between;
}

.team-list {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  justify-content: space-between;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 30px;
  padding-bottom: 10px;
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--mine-text-color);
  padding-bottom: 30px;
}

/* ---------------------- footer ----------------------*/

.footer {
  width: 1600px;
  background: var(--title-footer-bg-color);
  margin: 0 auto;
}

.footer .container {
  padding-top: 0;
  padding-top: 60px;
  padding-bottom: 0;
  padding-bottom: 60px;
}

.footer-logo {
  font-family: "Raleway";
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer-pre-logo {
  color: var(--btn-link-hover-color);
}

.footer-after-logo {
  color: var(--text-teambox-btnhover-color);
}

.footer-address.footer-contacts {
  color: var(--text-teambox-btnhover-color);
}

.adress-address {
  padding-top: 20px;
  padding-bottom: 10px;
}

.adress-tel {
  padding-top: 9px;
}

.footer-contacts {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* ---------------------- portfolio ----------------------*/
.header-logo-pf {
  margin-right: 95px;
}

.header-logo-pf {
  font-family: "Raleway";
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header-pre-logo-pf {
  color: var(--btn-link-hover-color);
}

.header-after-logo-pf {
  color: #000000;
}

.filters {
  width: 610px;
  display: flex;
  margin: 0 auto;
}

.filters-list {
  display: flex;
  padding-bottom: 50px;
  white-space: nowrap;
}

.filters-btn {
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
}

.filters-item {
  border: none;
}

.filters-item:not(:last-child) {
  padding-right: 8px;
}

.projekt-list {
  display: flex;
  flex-wrap: wrap;
}

.projekt-item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.projekt-item:nth-child(3n) {
  margin-right: 0;
}

.projekt-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  padding: 20px 24px 4px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.projekt-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--mine-text-color);
  padding: 0 24px 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
